<main class="container-fluid g-0 text-center">
    <section class="container-fluid align-content-center home-container" id="about-1">
        <div class="home-subcontainer container text-center align-content-center justify-content-center">
            <h1>Revisit the best moments!</h1>
        </div>
    </section>
    <section class="container-fluid align-content-center home-container" id="about-2">
        <div class="home-subcontainer container text-center align-content-center justify-content-center">
            <h2>Never sort through photos again</h2>
            <p>Stories automatically finds your best photos and creates a travel album. Relive the greatest moments and share them with your friends.</p>
            <%= link_to "Signup", "about", :class => "btn btn-primary home-btn" %>
        </div>
    </section>
</main>