<main class=>
    <div class="container-fluid align-content-center justify-content-center text-center g-0 thanks-container">
        <p>Thank you for joining! You will be notified by all future updates!</p>
    </div>
</main>